.align-center {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  /* width: 50% !important; */
}

a.reference.external {
  line-height: normal;
}

blockquote ul {
  font-style: normal !important;
  font-weight: normal !important;
}